<div>
  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="navbar-brand" href="#">MyFace</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
        <li>
          <form class="form-inline my-2 my-lg-0" >		
            <input type="text" placeholder="Search.." style="margin-top: 3%;">
          </form>
        </li>
      </ul>
    </div>
      
      
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="margin-left: 60%;">
          <li class="nav-item active">
            <a title="Home" class="nav-link" (click)=home() >
              <i class="fa fa-home fa-1x"></i>
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Messages" (click)=messages()>
              <i class="fa fa-envelope-o fa-1x">
                <span class="badge badge-danger">11</span>
              </i>			 
            </a>
          <li class="nav-item">
            <a class="nav-link" title="Friend Requests" (click)=friendsPage()>
              <i class="fa fa-user-plus fa-1x">
                <span *ngIf=friendRequestNoitification class="badge badge-danger">{{friendRequestCount}}</span>
              </i>			 
            </a>
          </li>   
          <li class="nav-item">
            <a title="Logout" class="nav-link" (click)=logout()>
              <i class="fa fa-sign-out fa-1x"></i>
                  <span class="sr-only">(current)</span>
              </a>
          </li>                
        </ul>		
    </div>
  </nav>
</div>
