<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MyFace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a title="Home" class="nav-link" href="#" >
            <i class="fa fa-home fa-1x"></i>
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Messages" (click)=messages()>
            <i class="fa fa-envelope-o fa-1x">
              <span class="badge badge-danger">11</span>
            </i>			 
          </a>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Friend Requests">
            <i class="fa fa-user-plus fa-1x">
              <span class="badge badge-danger">11</span>
            </i>			 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-caret-down fa-5x">				
            </i>			 
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
            <!-- <a class="dropdown-item" href="#">Action</a> -->
            <!-- <a class="dropdown-item" href="#">Another action</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          <!-- </div> -->
        </li>
      </ul>		
      <form class="form-inline my-2 my-lg-0">		
           <input type="text" placeholder="Search..">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </div>
  </nav>
