<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
		<session-factory>
			<!-- Related to the connection START -->
			<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
			<property name="connection.url">jdbc:oracle:thin:@localhost:1521:ORCL</property>
			<property name="connection.user">SYSTEM</property>
			<property name="connection.password">system</property>
			<property name="show_sql">true</property>
			<property name="hbm2ddl.auto">update</property>
			<property name="dialet">org.hibernate.dialect.Oracle10gDialect</property>
			<!-- Related to the connection END -->
			<mapping class="com.media.bo.AccountMasterBO"/>
			<mapping class="com.media.bo.FriendsMasterBO"/>
			<mapping class="com.media.bo.FriendRequestMasterBO"/>
		</session-factory>
</hibernate-configuration>